# Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
data = [4, 8, 15, 16, 23, 42]

In [2]:
import pandas as pd

In [4]:
df=pd.DataFrame(data)

In [5]:
df

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
ds = pd.Series(data)

In [ ]:
ds