''' Series is a one-dimensional labeled array that can hold any data type.
Dataframe is a two-dimensional, tabular data structure with labeled axes (rows and columns). 
It is a container for multiple Series.
'''

In [2]:
import pandas as pd
series_data = pd.Series([1, 2, 3, 4], name='ColumnA')

In [3]:
series_data

0    1
1    2
2    3
3    4
Name: ColumnA, dtype: int64

In [4]:
type(series_data)

pandas.core.series.Series

In [6]:
data = {'ColumnA': [1, 2, 3, 4],
        'ColumnB': ['A', 'B', 'C', 'D']}
df = pd.DataFrame(data)

In [7]:
df

   ColumnA ColumnB
0        1       A
1        2       B
2        3       C
3        4       D

In [8]:
type(df)

pandas.core.frame.DataFrame

'''
Key differences:

Dimensionality:

Series is one-dimensional.
DataFrame is two-dimensional.

Representation:

Series is a single column of data with an index.
DataFrame is a tabular structure with multiple columns, where each column is a Series.
'''