'''Pandas provides a variety of functions to manipulate and analyze data in DataFrames. Here are some common functions:

1. head() and tail(): Display the first or last N rows of a DataFrame.
2. info(): Provides a concise summary of a DataFrame, including data types and missing values.
3. describe(): Generates descriptive statistics (count, mean, std deviation, etc.) of numerical columns.
4. shape: Returns the number of rows and columns in the DataFrame.
5. columns: Returns the column labels of the DataFrame.
6. df.loc[2:4, ['ColumnA', 'ColumnB']]
7. drop(): Remove specified labels from rows or columns.
8. sort_values(): Sort the DataFrame by specified column(s). '''

In [1]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 22, 35],
        'Salary': [50000, 60000, 45000, 70000]}
df = pd.DataFrame(data)

# Using some common functions
print("Head:")
print(df.head())

print("\nInfo:")
print(df.info())

print("\nDescribe:")
print(df.describe())

print("\nShape:")
print(df.shape)

print("\nColumns:")
print(df.columns)

# Adding a new column
df['Bonus'] = df['Salary'] * 0.1

print("\nDataFrame with Bonus:")
print(df)

Head:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Salary  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes
None

Describe:
             Age        Salary
count   4.000000      4.000000
mean   28.000000  56250.000000
std     5.715476  11086.778913
min    22.000000  45000.000000
25%    24.250000  48750.000000
50%    27.500000  55000.000000
75%    31.250000  62500.000000
max    35.000000  70000.000000

Shape:
(4, 3)

Columns:
Index(['Name', 'Age', 'Salary'], dtype='object')

DataFrame with Bonus:
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   60000  6000.0
2  Charlie   22   45000  4500.0
3    David   35   70000  7000.0