In [1]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'], name='Name')
ages = pd.Series([25, 30, 22, 35], name='Age')
salaries = pd.Series([50000, 60000, 45000, 70000], name='Salary')

# Creating a DataFrame using the Series
data = {'Name': names, 'Age': ages, 'Salary': salaries}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000